<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010124947221-a4nv7urj3chs3me28pts9poevvphem95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010124947221-a4nv7urj3chs3me28pts9poevvphem95</string>
	<key>API_KEY</key>
	<string>AIzaSyA4hCvMKUNHpvtjufWOklMo5tMaa2_MW5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1010124947221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardsanifirebase</string>
	<key>PROJECT_ID</key>
	<string>cardsanimations</string>
	<key>STORAGE_BUCKET</key>
	<string>cardsanimations.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010124947221:ios:3d5f4b13b786a01ad4731c</string>
	<key>DATABASE_URL</key>
	<string>https://cardsanimations.firebaseio.com</string>
</dict>
</plist>